// classes are to override the plugin classes. Would like to come up with something in the future to
// remove the plugin styles
.card {
    @include clearfix;

    background-color: $summit;
    border: {
        top: 0.0625em solid $storm;
        right: 0.0625em solid $storm;
        left: 0.4em solid $storm;
        bottom: 0.0625em solid $storm;
    }
    border-radius: 0.15em;
    cursor: grab;
    font-weight: bold;
    position: relative;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    &.on-drag-hover { // for when a card is hovered on top an existing card
        border: {
            top: 0.15em dashed $storm;
            right: 0.15em dashed $storm;
            left: 0.4em soild $storm;
            bottom: 0.15em dashed $storm;
        }
    }
    &:hover {
        background-color: darken($summit, 5%);
    }
    &.locked {
        background-color: $detroit;
    }
}

// class gets applied to card while dragging by plugin
.on-dragging {
    cursor: grabbing;
}

// textarea gets added by plugin, todo: figure out how to add a class to textarea instead of this
.card textarea {
    padding: 0.5em;
}

.card__menu {
    @include clearfix;
    @include span(12 of 12 omega);

    background-color: darken($summit, 5%);
    border-top: 0.2em solid $storm;
    font-size: 0.8em;
    &:hover {
        cursor: default;
    }
}

.card__menu__items {
    list-style-type: none;
    padding: 0;
    li {
        padding: 0.5em 0;
        a {
            display: inline-block;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .list--x li {
        border-bottom: none;
        padding: 0;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }
}

.cardjunction {
    height: 1em;
    transition: all 0.2s ease-in-out;
    &.on-drag-hover {
        background-color: darken($summit, 10%);
        border-radius: 0.15em;
        border: 0.15em dashed $storm;
        height: 7em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .active {
        background-color: $summit;
    }
}

// card style colors
.swatch {
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
}

.brick {
    border-left-color: $brick;
    &.swatch {
        background: $brick;
    }
}

.sea {
    border-left-color: $sea;
    &.swatch {
        background: $sea;
    }
}

.ice {
    border-left-color: $ice;
    &.swatch {
        background: $ice;
    }
}

.default {
    border-left: 0.4em solid $storm;
    &.swatch {
        border: 0.15em solid $font-body-color;
        background: $storm;
    }
}

.gold-money {
    border-left: 0.4em solid $gold-money;
    &.swatch {
        background: $gold-money;
    }
}

.eggplant {
    border-left: 0.4em solid $eggplant;
    &.swatch {
        background: $eggplant;
    }
}

.card__pile {
    @include clearfix;

    background: $fiord;
    font-size: 1.2em;
    border-bottom-right-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
    text-align: center;
}

.editable-buttons {
    display: block;
    margin-bottom: 0.5em;
    .btn-primary {
        &:after {
            content: 'Save';
        }
    }
    .btn-default {
        @extend .btn-primary;
        background: $flamingo;
        &:after {
            content: 'Cancel';
        }
    }
}

.editable-empty {
    color: $storm;
    &:hover {
        color: $storm;
    }
}
