.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    outline: 0;
    fill: currentColor;
}

.icon--large {
    width: 1.5em;
    height: 1.5em;
}

.icon--logo {
    width: 8em;
    height: 2em;
}

.icon--card-locking {
    width: 8em;
    height: 5em;
}

.icon--middle {
    width: 10em;
    height: 7em;
}

.icon--has-hover-fiord {
    transition: color 0.5s ease-in-out;
    &:hover {
        color: $fiord;
        fill: $fiord;
    }
}
