<div>
    <card data-board="board" data-card="getTopCard()"
      data-board="board" data-column="column" data-index="index"
      data-card-dragging="view.cardDragging">
    </card>

    <div class="card__pile copy-inverse" data-ui-draggable="true" data-drag-channel="card"
        data-drag="{pile: true, sourceColumnId: column.id, sourcePosition: pile[0].position}">
        <button class="btn btn--oxford mts mbs ps">
            <a class="link--inverse" href="#" data-ng-click="back()">
                <svg class="icon">
                    <desc>Left Arrow</desc>
                    <use xlink:href="#left-caret"></use>
                </svg>
            </a>

            {{curCard}} / {{pile.length}}

            <a class="link--inverse" href="#" data-ng-click="forward()">
                <svg class="icon">
                    <desc>Right Arrow</desc>
                    <use xlink:href="#right-caret"></use>
                </svg>
            </a>
        </button>
    </div>
</div>
