<section class="tier">
    <form ng-submit="signin()" class="panel panel--middle">
        <div class="flag center mbxl" data-ng-show="signedOut">
            <div class="flag__media--success">
                <svg class="copy-inverse icon icon--large" fill="#fff">
                    <desc>Success Icon</desc>
                    <use xlink:href="#check-circle"></use>
                </svg>
            </div>

            <div class="flag__body">
                You are now signed out.
            </div>
        </div>
        <div class="flag center mbxl" data-ng-show="errorMessage">
            <div class="flag__media--alert">
                <svg class="copy-inverse icon icon--large" fill="#fff">
                    <desc>Error Icon</desc>
                    <use xlink:href="#exclamation"></use>
                </svg>
            </div>

            <div class="flag__body">
                {{errorMessage}}
            </div>
        </div>

        <h3 class="heading-underline">
            Sign In
        </h3>

        <ul class="form-fields" data-ng-show="signinStyle === 'userpass'">
            <li>
                <label for="username">Username</label>
                <input type="text" data-ng-model="username" placeholder="Username" autofocus>
            </li>

            <li>
                <label for="password">Password</label>
                <input type="password" data-ng-model="password" placeholder="Password">
            </li>

            <li>
                <input type="submit" class="btn" value="Sign In">
            </li>
        </ul>

        <ul class="form-fields" data-ng-show="signinStyle === 'user'">
            <li>
                <label for="username">Username</label>
                <input type="text" data-ng-model="username" placeholder="Username" autofocus>
            </li>
            <li>
                <input type="submit" class="btn" value="Sign In">
            </li>
        </ul>
    </form>
</section>
